<h1>Songs#show</h1>

Title: <%= @song.title %>
</br>
Artist: <%= @song.artist.name %>
</br>
Genre: <%= @song.genre.name %>
</br>
<p> Notes: </p>
<% @song.notes.each do |note| %>
<p> <%= note.content %> </p>
<%end %>